/*1 rem = 10px*/
/*Color palette*/
:root{
    --aliceBlue: #E8EEF2;
    --paleSilver:#D6C9C9;
    --beauBlue: #C7D3DD;
    --aero: #77B6EA;
    --onyx: #37393A;
    --fuentePrincipal: 3.8 rem;
    
}
html {
    font-size: var(--fuentePrincipal);
}
.web-title{
    font-size: 15px;
}
header h1{
    text-align: center;
}
section h1{
    text-align: center;
}
body {
    font-size: 16px;
    background-color: var(--aliceBlue);
    font-family: 'Raleway', sans-serif;
}

.navegacion-principal{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*MediaQuery para converit en columna en teléfono el menu. Las propiedades del padre se heredan*/
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
        
    }
}
.navegacion-principal a {
    color: var(--onyx);
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    
}

.navegacion-principal a:hover{
    background-color: var(--aliceBlue);
}
.nav-bg{
    background-color: var(--aero);
    
}

.contenedor{
    max-width:120rem;
 /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; Este es el orden para leer los valores de margin (clock)
    También se puede:
    margin: 0 auto y así le aplica todos los cambios a las 4 posiciones en el mismo orden;*/
    margin: 0 auto 0 auto;
    
}
/*MediaQuery
@media (min-width:480px ) {
    body{
        background-color: red;
    }
     
}

*/